
/*Universal Container*/
.mainContainer{
	width: 975px;
	margin-left: auto;
	margin-right: auto;
	}

/**********************/

/*Header*/
.header{
	float: left;
	width: 975px;
	height: 100px;
}
/********/

.mainContent {
	float: left;
	background-color: rgb(140, 140, 170);
	width: 975px;
}

/*footer*********************/
.footer {
	float: left;
    margin-left: auto;
    margin-right: auto;
    width: 975px;
    height: 300px;
    background-color: blue;
}

.footer ul{
float: left;
}
/*********************************/
/*cart.html*/
.items div{
	float: left;
	width: 975px;
}

.items div div{
	width: 150px;
}

/*viewItem.html*/
.itemView img{
	float: left;
}




