<!DOCTYPE html>
<html>
<head>
<title>Royal Movers</title>
<link href="http://earthlinguniversity.com/other/css/horinavLayout.css" rel="stylesheet" type="text/css"/>
<link href="http://earthlinguniversity.com/other/css/horinavDesign.css" rel="stylesheet" type="text/css"/>
<link href="http://earthlinguniversity.com/other/css/mainLayout.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="./js/jquery-1.7.2.js"></script>
</head>
<body>
<div class="mainContainer">
 <div class="header">
   <img src="images/earthlingAcademy.jpg" />
 </div>
 <div class="horinav">
  <ul>
  <li><a class="first" href="/royalMovers/index.php">Home</a></li>
    <li><a href="aboutUs.php">Services</a><ul><li class="top"><a href="#"></a></li>
                                <li><a href="/royalMovers/services/residential.php">Residential</a></li>
                                <li><a href="/royalMovers/services/business.php">Business</a></li>
                                <li><a href="/royalMovers/services/Internal.php">Internal</a></li></ul></li>
  <li><a href="services.php">Services</a><ul><li class="top"><a href="#"></a></li>
                                <li><a href="#">red</a></li>
                                <li><a href="#">green</a></li>
                                <li><a href="#">black</a></li></ul></li>
  <li><a href="quote.php">Get a quote</a><ul><li class="top"><a href="economy.php">Get a quote</a></li>
                                <li><a href="education.php">Chemistry</a></li>
                                <li><a href="healthCare.php">Biology</a></li>
                                <li><a href="monetaryPolicy.php#">Monetary Policy</a></li></ul></li>
  <li><a href="reviews.php">Reviews</a><ul><li class="top"><a href="#">Anatomy</a></li>
                                <li><a href="#">blue</a></li>
                                <li><a href="#">green</a></li>
                                <li><a href="#">black</a></li></ul></li>
    <li><a href="contactUs.php">Contact Us</a><ul><li class="top"><a href="#">Anatomy</a></li>
                                <li><a href="#">blue</a></li>
                                <li><a href="#">green</a></li>
                                <li><a href="#">black</a></li></ul></li>                               
            </ul>
 </div>
 <div class="mainContent">